@import "tailwindcss";

@theme {
  --font-sans:
    "Fira GO", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-serif: "Fira GO", Georgia, Cambria, "Times New Roman", Times, serif;

  --animate-blob: blob 7s infinite;
  --animate-ping-slow: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[lang="KA"] body,
:root:has([lang="KA"]) body,
:root:has([lang="ka"]) body {
  letter-spacing: 0.03em;
  line-height: 1.6;
}

@custom-variant dark (html.dark &);

.animation-delay-2000 {
  animation-delay: 2s;
}
